
<style>
.card{
height:100vh;
width:100vw;
}
  .card img{
  margin-top:75px;
  height:500px;
  weidth:100vw;
  }
  .title{
  margin-top: 1rem;
  margin-bottom: 1.5rem;
  text-align: center;
  }
  body{margin-top:20px;}

.content-item {
    padding:30px 0;
	background-color:#FFFFFF;
}

.content-item.grey {
	background-color:#F0F0F0;
	padding:50px 0;
	height:100%;
}

.content-item h2 {
	font-weight:700;
	font-size:35px;
	line-height:45px;
	text-transform:uppercase;
	margin:20px 0;
}

.content-item h3 {
	font-weight:400;
	font-size:20px;
	color:#555555;
	margin:10px 0 15px;
	padding:0;
}

.content-headline {
	height:1px;
	text-align:center;
	margin:20px 0 70px;
}

.content-headline h2 {
	background-color:#FFFFFF;
	display:inline-block;
	margin:-20px auto 0;
	padding:0 20px;
}

.grey .content-headline h2 {
	background-color:#F0F0F0;
}

.content-headline h3 {
	font-size:14px;
	color:#AAAAAA;
	display:block;
}


#comments {
    box-shadow: 0 -1px 6px 1px rgba(0,0,0,0.1);
	background-color:#FFFFFF;
}

#comments form {
	margin-bottom:30px;
}

#comments .btn {
	margin-top:7px;
}

#comments form fieldset {
	clear:both;
}

#comments form textarea {
	height:100px;
}

#comments .media {
	border-top:1px dashed #DDDDDD;
	padding:20px 0;
	margin:0;
}

#comments .media > .pull-left {
    margin-right:20px;
}

#comments .media img {
	max-width:100px;
}

#comments .media h4 {
	margin:0 0 10px;
}

#comments .media h4 span {
	font-size:14px;
	float:right;
	color:#999999;
}

#comments .media p {
	margin-bottom:15px;
	text-align:justify;
}

#comments .media-detail {
	margin:0;
}

#comments .media-detail li {
	color:#AAAAAA;
	font-size:12px;
	padding-right: 10px;
	font-weight:600;
}

#comments .media-detail a:hover {
	text-decoration:underline;
}

#comments .media-detail li:last-child {
	padding-right:0;
}

#comments .media-detail li i {
	color:#666666;
	font-size:15px;
	margin-right:10px;
}


</style>
{% include 'header.html' %}
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
<div class="card">
<div class="container">
        <!-- Blog Post -->
          <img class="card-img-top" src="{{ obj.image.url }}" alt="Card image cap">
          <div class="card_body">
            <h1 class="title">{{ obj.post_title }}</h1>
            <p class="card-text">{{ obj.description }}</p>
              <p class="card-text"></p>
              <p class="card-text"></p>
              <p class="card-text"></p>
 </div>
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
<section class="content-item" id="comments">
    <div class="container">
    	<div class="row">
            <div class="col-sm-8">
                <form method="POST" action="{% url 'viewdetailes' obj.id %}">
                    {% csrf_token %}
                    <input type="hidden" value="{{ request.session.user_id }}" name="user_id">
                	<h3 class="pull-left">Comment</h3>
                	<button type="submit" class="btn btn-normal pull-right">Submit</button>
                    <fieldset>
                        <div class="row">
                            <div class="col-sm-3 col-lg-2 hidden-xs">
                            </div>
                            <div class="form-group col-xs-12 col-sm-9 col-lg-10">
                                <textarea class="form-control" id="message" placeholder="Your message" name="message" required=""></textarea>
                            </div>
                        </div>
                    </fieldset>
                </form>
                {% for i in comment %}
                <div class="media">
                    <div class="media-body">
                        <h4 class="media-heading">{{ i.user_id.username }}</h4>
                        <p>{{ i.message}}</p>
<!--                        <ul class="list-unstyled list-inline media-detail pull-left">-->
<!--                            <li><i class="fa fa-calendar"></i></li>-->
<!--                            <li><i class="fa fa-thumbs-up"></i></li>-->
<!--                        </ul>-->
<!--                        <ul class="list-unstyled list-inline media-detail pull-right">-->
<!--                            <li class=""><a href=""></a></li>-->
<!--                            <li class=""><a href=""></a></li>-->
<!--                        </ul>-->
                    </div>
                    <code>{{ i.comment_date }}</code>
                </div>
                {% endfor %}
 </div>

</div>
               <hr class="featurette-divider">
     {% include 'footer.html' %}




